#include <stdio.h> 
int main() 
{
 // prompting the user
int a; 
printf("enter a number between 1 and 5 and I will choose one food for you: " ); 
scanf("%d", &a); 
// building the choices 
Switch(a) 
{ 
case 1 : 
   Printf("Pizza!!! \n Rs 249"); 
   break; 
case 2 : 
   printf("Burger!!! \n Rs 129"); 
   break; 
case 3 : 
   printf("Pasta!!! \n Rs 179"); 
   break; 
case 4 : 
   printf("French fries!!! \n Rs 99"); 
   break;
case 5 : 
   printf("Sandwich!!! \n Rs 179"); 
   break;
default : printf("Sorry that's not included in today's special list"); 
} 

return 0; 
} 
